{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tramite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tramite.id }}</td>
            </tr>
            <tr>
                <th>Organismoorigen</th>
                <td>{{ tramite.organismoOrigen }}</td>
            </tr>
            <tr>
                <th>Fechaorigen</th>
                <td>{% if tramite.fechaOrigen %}{{ tramite.fechaOrigen|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Organismodestino</th>
                <td>{{ tramite.organismoDestino }}</td>
            </tr>
            <tr>
                <th>Fechadestino</th>
                <td>{% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if tramite.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_tramite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_tramite_edit', { 'id': tramite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
