{% extends 'base.html.twig' %}

{% block body %}
    <h1>Turnocitacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turnoCitacion.id }}</td>
            </tr>
            <tr>
                <th>Fechadocumento</th>
                <td>{% if turnoCitacion.fechaDocumento %}{{ turnoCitacion.fechaDocumento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaturnocitacion</th>
                <td>{% if turnoCitacion.fechaTurnoCitacion %}{{ turnoCitacion.fechaTurnoCitacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if turnoCitacion.hora %}{{ turnoCitacion.hora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('extranet_turnocitacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('extranet_turnocitacion_edit', { 'id': turnoCitacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
