{% extends 'DocumentoBundle:Default:layout_base_new.html.twig' %}

{% block formulario %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_row(form.fechaDocumento, {'label': 'Fecha:'}) }}
	{% block dirigidoA %}
	<div>
		{{ form_label(form.texto, 'Dirigido A:') }}
		{{ form_errors(form.texto) }}
		{{ form_widget(form.dirigidoA,  {'value' : dirigidoA1 }) }}
	</div>   
	{% endblock %}

	<div>    
		{{ form_label(form.texto) }}
		{{ form_errors(form.texto) }}
		{{ form_widget(form.texto,  {'value' : texto1 }) }}
	</div>

	<div class="hidden">
		{{ form_widget(form.estado,  { 'attr': {'checked': 'checked'}  }) }}
	</div>

	<div class="text-right">
		<input class="btn btn-danger"  type="submit" value="Guardar" />
	</div>

	{{ form_end(form) }}


 
{% endblock %}