{% extends 'DocumentoBundle:Default:layout_base_show.html.twig' %}


{% block href_editar %} 
	href="{{ path('extranet_docadministrativo_edit' , { 'id': documento.id }) }}"
{% endblock %}

{% block href_imprimir %}
	href="{{ path('extranet_docadministrativo_print', { 'id': documento.id }) }}"
{% endblock %}

 {% block tipodocumento %}
    <p> <strong> {{ documento.tipoDocumento | upper }}    N°: 0{{ documento.numero }} </strong> </p>
{% endblock %}

{% block referencia %}
<p class="text-uppercase small"> <strong>
Referencia: {{documento.tramite.expediente}}<br>
Iniciador: {{documento.tramite.expediente.agente}}  <br>
Extracto: {{documento.tramite.expediente.extracto }} <br>
</strong>
</p> <br>
{% endblock %}

{% block cuerpo %}
    <p class ="text-justify">

    <strong>    
    {{ documento.dirigidoA | raw }}.
    </strong>
    
    {{ documento.texto | raw }}</p> 
{% endblock %}