{% extends '::base.html.twig' %}

{% block title %} {{app.user.departamentoRm | upper }}{% endblock %}
{% block stylesheets %}
  {# Cambiar Theme por defecto de bosstraps a Theme United #}
  {% stylesheets '@bootstrap_united_css'  %}
     <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
<style>
  ul.navbar-nav li.active {
    background-color: blue;
}
</style>
{% endblock %}


{% block header %}
<header>
  <nav class="navbar navbar-default"  role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
        <span class="sr-only">Desplegar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{ path('extranet') }}"><span class="glyphicon glyphicon-plus-sign "> </span> 
     {% if not (is_granted('ROLE_ADMIN')) %}    
          {% if is_granted('ROLE_USUARIO') %}               
              MESA DE ENTRADA
            {% endif %}
          
          {% if is_granted('ROLE_MEDICO') %} 
           {{app.user.departamentoRm | upper }} : Auditoría Médica 
          {% endif %}

           {% if is_granted('ROLE_ADMINISTRATIVO') %} 
           {{app.user.departamentoRm | upper }}: Área Administrativa
          {% endif %}
        {% endif %}
        {% if is_granted('ROLE_USUARIO') %}               
              SIARMe
       {% endif %}
         </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-1" >

        <form class="navbar-form navbar-left" method="get" action="{{ path('extranet_buscar') }}" role="search">
          <div class="form-group">
          <input name="consulta" data-toggle="tooltip" data-placement="bottom" title="Buscar por Numero y Año de Expte." value="{{ app.request.get('consulta') }}" type="text" class="form-control" placeholder="Buscar: Ej. 2036-2017" required />
          </div>
          <button type="submit" class="btn btn-primary" >Buscar</button>
        </form> 

      <ul class="nav navbar-nav">
        {% if is_granted('ROLE_ADMINISTRATIVO') %} 
          <li>          
          
           <a href="{{ path('extranet_informe_new')  }}" class="btn btn-primary" role="button">Generar Informe</a>
       
          </li>
        {% endif %}
      </ul>

{% if is_granted('ROLE_USUARIO') %} 
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('backend_expediente_new') }}" class="btn btn-primary" role="button"> Crear Expediente</a>
            </li>    
        </ul>    
{% endif %}  

      <ul class="nav navbar-nav navbar-right"> 

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-cog"></span></a>
             
             <ul class="dropdown-menu">
               <li class="dropdown-header">
                     <span class="glyphicon glyphicon-user"></span>
                      {{ app.user.apellidoNombre }}
               </li>

               <li><a href="{{ path('extranet_usuario_show', { 'id': app.user.id }) }}" class="bg-danger"> Ver  Mis Datos Personales</a>
               </li>
               <li role="separator" class="divider"> 
               </li>
       
               <li class="dropdown-header h5">Cambiar contraseña <span class="caret"></span></li>                    
                          <form class="navbar-form"  method="post" action="{{ path('usuario_change_password') }}">
                            {% set passwordCurrent= app.user.password %}                  
                              <div class="form-group">
                                <input class="hidden" style="visibility:hidden" type="password" value="{{ passwordCurrent }}" id="passwordCurrent" required>
                               <input type="password" placeholder="Contraseña Actual" id="passwordUser" required>

                              <input type="password" name="password" placeholder="Nueva Contraseña" id="password" required>
                               <input type="password" placeholder="Repetir Contraseña" id="confirm_password" required>
                              </div>
                             <button type="submit" class="button btn-sm btn-primary">Confirmar</button>
                          </form>

                          <script>
                              var password = document.getElementById("password")
                                , confirm_password = document.getElementById("confirm_password"), password_current = document.getElementById("passwordCurrent")
                                , password_user = document.getElementById("passwordUser");

                              function validatePassword(){
                                if(password.value != confirm_password.value) {
                                  confirm_password.setCustomValidity("La contraseña no coincide");
                                } else {
                                  confirm_password.setCustomValidity('');
                                }
                              }

                              function validatePasswordUser(){
                                if(password_user.value != password_current.value) {
                                  password_user.setCustomValidity("Ingrese la contraseña anterior");
                                } else {
                                  password_user.setCustomValidity('');
                                }
                              }
                              password_user.onchange = validatePasswordUser;
                              password_user.onkeyup = validatePasswordUser;
                              password.onchange = validatePassword;
                              confirm_password.onkeyup = validatePassword;                              
                          </script>
              
                        <li role="separator" class="divider"></li>                      
             
                      </ul>
        
            </li>
           <li>

                      <a href="{{ path('usuario_logout') }}" >
                          <span class="glyphicon glyphicon-log-out"></span>
                          Salir
                      </a>                
          </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
</header>
{% endblock %}

{% block mensaje %}
  <div class="row">

    {% for flashMessage in app.session.flashbag.get('mensaje-warning') %}
       <div class="col-md-2"></div>
        <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times; </button>

            <div class="flash-notice">
                {{ flashMessage | raw }}
            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('mensaje-success') %}
       <div class="col-md-2"></div>
        <div class="alert alert-dismissible alert-success ">
          <button type="button" class="close" data-dismiss="alert">&times; </button>

            <div class="flash-notice text-center">
               {{ flashMessage | raw }}
            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('mensaje-info') %}
       <div class="col-md-2"></div>
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="flash-notice">
                {{ flashMessage | raw }}
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}

{% block sidebar %}  

  {% for departamento in departamentos %}
    <small>

    {% if is_granted('ROLE_USUARIO') or (app.user.departamentoRm == departamento) %}
      <ul class="nav nav-list"  role="navigation">
        <li class="nav-header" > <a class="h5 bg-primary text-center" href="{{ path('extranet_expediente_departamento', { 'id': departamento.id }) }}"> {{departamento}} <span class="badge">{{departamento.expediente | length }}</span></a></li>
        {% for  clasificacion in clasificaciones %}

          <li><a href="{{ path('extranet_expediente_clasificacion', { 'id': departamento.id, 'clasificacion_id' : clasificacion.id }) }}"> {{ clasificacion.clasificacion }} <span class="badge">{{ menu[departamento.departamentorm][clasificacion.clasificacion] }}  </span></a></li>

        {% endfor %}
           <li > <a class="h5 bg-info text-center" href="{{ path('extranet_expediente_turno', { 'id': departamento.id }) }}"> Turnos <span class="badge alert-danger"> {{ menu[departamento.departamentorm]["Turno"] }}</span></a></li>
          <li > <a class="h5 bg-info text-center" href="{{ path('extranet_expediente_citacion', { 'id': departamento.id }) }}"> Citaciones <span class="badge alert-danger"> {{ menu[departamento.departamentorm]["Citacion"] }} </span></a></li>
      </ul>
    {% endif %}

    </small>
    {% endfor %}

 <ul class="nav nav-list">

</ul>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>


{% endblock %}

