{% extends 'DocumentoBundle:docadministrativo:layout_new.html.twig' %}

{% block tipodocumento %} CITACION  {% endblock %}
{% block formulario %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.fechaDocumento, {'label': 'Fecha:'}) }}
        {{ form_row(form.fechaTurnoCitacion, {'label': 'Fecha de Citación para el Agente de Referencia:'}) }}
        {{ form_row(form.hora, {'label': 'Hora:'}) }}
        <div class="text-right">
                <input class="btn btn-danger"  type="submit" value="Guardar" />
        </div>
         {{ form_end(form) }}
{% endblock %}
