{% extends 'DocumentoBundle:docmedico:layout_new.html.twig' %}

{% block tipodocumento %} INFORME MEDICO {% endblock %}
{% block formulario %}
    {{ form_start(form) }}
         {{ form_errors(form) }}
        {{ form_row(form.fechaDocumento, {'label': 'Fecha:'}) }}

        {{ form_row(form.dictamen, {'label': 'Dictamen Medico:'}) }}
        {{ form_row(form.Licencia.fechaDesde, {'label': 'Fecha A.T. o E.P.:'}) }}
        {{ form_row(form.Licencia.fechaHasta, {'label': 'Fecha de Alta:'}) }}
        {{ form_row(form.Licencia.enfermedad, {'label': 'Codigo Enf.:'}) }}
        {{ form_row(form.Licencia.articulo, {'label': 'Articulo:'}) }}
        {{ form_row(form.Licencia.diagnostico, {'label': 'Prestaciones a seguir brindando  (Prótesis, ortesis, etc.):'}) }}
         {{ form_rest(form) }}

        <div class="text-right">
                <input class="btn btn-danger"  type="submit" value="Guardar" />
        </div>
    {{ form_end(form) }}

{% endblock %}
