{% extends 'DocumentoBundle:docadministrativo:layout_new.html.twig' %}

{% block tipodocumento %} {{ documento.tipoDocumento | upper }}    N°: 0{{ documento.numero }} {% endblock %}


{% set dirigidoA1 %}
   --------- {{documento.tramite.organismoOrigen}} 

{% endset %}


{% set texto1 %}
        <p> ---------   Se remiten las actuaciones de referencia  para conocimiento y evaluación de lo Dictaminado por  Médica en <strong>Acta N°:     de Fecha: {{ "now"|date('Y-m-d') }}  del Paciente: {{documento.tramite.expediente.agente}}  , CUIL: {{documento.tramite.expediente.agente.cuil}} </strong>.
        ---------   Son Fojas:  <br>
        ---------   Atentamente.- </p>
{% endset %}

