{% extends 'base.html.twig' %}

{% block body %}
    <h1>Turnocitacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechadocumento</th>
                <th>Fechaturnocitacion</th>
                <th>Hora</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for turnoCitacion in turnoCitacions %}
            <tr>
                <td><a href="{{ path('extranet_turnocitacion_show', { 'id': turnoCitacion.id }) }}">{{ turnoCitacion.id }}</a></td>
                <td>{% if turnoCitacion.fechaDocumento %}{{ turnoCitacion.fechaDocumento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if turnoCitacion.fechaTurnoCitacion %}{{ turnoCitacion.fechaTurnoCitacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if turnoCitacion.hora %}{{ turnoCitacion.hora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('extranet_turnocitacion_show', { 'id': turnoCitacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('extranet_turnocitacion_edit', { 'id': turnoCitacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('extranet_turnocitacion_new') }}">Create a new turnoCitacion</a>
        </li>
    </ul>
{% endblock %}
