{# Siarme/ExpedienteBundle/Resources/views/Extranet/_lista_expediente.html.twig #}
<table id="expediente" class="table table-hover">
    <thead>
        <tr>
            <th class="h6"><strong>Tramites</strong></th>
            <th>Expediente</th>
            <th>Agente</th>    
            <th>Extracto</th>
           {# <th>Observacion</th>#}
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    {% for expediente in expedientes %}
        <tr>
            <td>
                {% if expediente.tramite | length > 0 %}
                     <button class="btn btn-info btn-xs" data-toggle="collapse" data-target=".{{expediente.id}}" aria-expanded="false" id="{{expediente.id}}"><span class="glyphicon glyphicon-plus"></span><strong> {{expediente.tramite | length}} </strong> </button> 
                 {% else %}
                    <p class="text-danger"><span class="glyphicon glyphicon-remove"></span></p> 
                {% endif %}
            </td>

            <td>
              <a href="{{ path('backend_expediente_show', { 'id': expediente.id }) }}">{{ expediente}}</a>
            </td>

             <td>
                {{ expediente.agente }}
             </td>

            <td>
              {{ expediente.extracto }}
            </td>

           {# <td>{{ expediente.observacion }}</td>#}
              <td>
               {% if expediente.estado %}CONCLUIDO{% else %}INICIADO{% endif %}
              </td>
 {% if is_granted('ROLE_USUARIO') %}
            <td>
                  {% if expediente.estado %}
                    <a class="btn btn-info btn-xs" href="{{ path('extranet_expediente_iniciar', { 'id': expediente.id }) }}">Iniciar</a>
                 {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ path('extranet_expediente_concluir', { 'id': expediente.id }) }}">Concluir</a>
                  {% endif %}
            </td>
 {% endif %}
        </tr>

            {% for tramite in expediente.tramite %}
            <tr class="collapse out budgets {{expediente.id}}">
                <td></td>
                <td colspan="6">
                    <table id="tramite" class="table table-condensed" >
                        <thead class="bg-info">
                            <tr>
                                <th> <small>Documentos</small> </th>
                                <th>Tramite</th>
                                <th>Fecha Inicio</th>
                               {# <th>Organismoorigen</th>                                
                                <th>Organismodestino</th>
                                <th>Fechadestino</th>#}
                                <th>Estado</th>
                                {% if not is_granted('ROLE_USUARIO') %}
                                <th>Crear Documento</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody> 
                             <tr>
                                <td>               
                                    {% if (tramite.docMedico | length > 0 ) or (tramite.docAdministrativo | length > 0 )%}
                                     <button class="btn btn-info btn-xs" data-toggle="collapse" data-target=".t-{{tramite.id}}" aria-expanded="false" id="t-{{tramite.id}}"><span class="glyphicon glyphicon-paperclip"></span><strong> {% set doc = (tramite.docMedico | length ) + ( tramite.docAdministrativo | length) %} {{ doc }}</strong> </button> 
                                 {% else %}
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> 
                                {% endif %}
                                </td>

                                <td>
                                    <a href="{{ path('backend_tramite_show', { 'id': tramite.id }) }}">{{ tramite.tipoTramite }}</a>
                                </td>
                                
                                 <td>
                                    {% if tramite.fechaOrigen %}{{ tramite.fechaOrigen|date('Y-m-d') }}{% endif %}
                                  </td>  

                                <td>
                                  {% if tramite.estado %}Concluido{% else %}Transito{% endif %}
                                </td>
                                
                                <td>
                                  <ul class="list-inline">

      {% if is_granted('ROLE_ADMINISTRATIVO') and ( not tramite.estado )  %}
                                     <li class="dropdown">
                                        <a class="dropup" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon glyphicon-file"><small>Administrativo</small></span></a>
                                        <ul class="dropdown-menu">
                                        
                                           {% for slug in tipodoc.administrativo | keys %}

                                          <li>
                                            
                                            <a href="{{ path( 'extranet_docadministrativo_new' , { 'slug': slug , 'id': tramite.id } ) }}"> {{ tipodoc.administrativo[slug] }}</a> 
                                          </li>

                                          {% endfor %} 
                                        </ul>
                                    </li>
      {% endif %}

      {% if is_granted('ROLE_MEDICO')  and ( not tramite.estado ) %}      
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus-sign"><small>Medico</small></span></a>
                                        <ul class="dropdown-menu">
                                          
                      
                                           {% for slug in tipodoc.medico | keys %}

                                          <li>
                                            <a href="{{ path('extranet_docmedico_new', { 'slug': slug, 'id': tramite.id    } ) }}"> {{ tipodoc.medico[slug] }}</a> 
                                          </li>

                                          {% endfor %}                  
                                        </ul>
                                    </li>
      {% endif %}

                                   </ul>
                                </td>
          
                            </tr>
                            <tr>
                                <td colspan="8">
                                <div class="conteiner-fluid"> 
                                   {% for docMedico in tramite.docmedico %}                                     
                                      <div class="collapse out budgets t-{{tramite.id}}">
                                       {{ include('ExpedienteBundle:Extranet:_detalle_docmedico.html.twig') }}
                                       </div>                        
                                   {% endfor %}

                                  {% for docAdministrativo in tramite.docadministrativo %}                                       
                                    <div class="collapse out budgets t-{{tramite.id}}">
                                        {{ include('ExpedienteBundle:Extranet:_detalle_docadministrativo.html.twig') }}
                                     </div>                                     
                                  {% endfor %}
                               </div>
                               </td>
                            </tr>                          
                        </tbody>
                    </table>                   
                </td>
              </tr>
              {% endfor %}
    {% endfor %}
    </tbody>
</table>
